# Ignore the autotools files and directories
Makefile.in
aclocal.m4
autom4te.cache/
build/
config.h.in
config.h.in~
configure
tools/m4/ltversion.m4

# Ignore windows build files and directories
bin/
build-aux/
deps/
data/heightmaps/
ipch/
*.cache
*.zip
*.7z
*.tmp_*Win32.vcproj
*.user
*.ncb
*.suo
*.sdf
*.opensdf
*.lnk
.DS_Store