# Ignore the autotools files and directories
Makefile.in
aclocal.m4
autom4te.cache/
build/
build-aux/
config.h.in
configure
tools/m4/ltversion.m4

# Ignore windows build files and directories
bin/
deps/
*.zip
*.ncb
*.suo